<footer id="footer">
  <div class="footer-left">
    <nav>
      <ul>
        <% for (var i in config.nav) { %>
          <li><a href="<%- url_for(config.nav[i]) %>"><%= __('nav.'+i).replace("nav.", "") %></a></li>
        <% } %>
      </ul>
    </nav>
  </div>
  <div class="footer-right">
    <%= __('footer.copyright') %> &copy; <%= new Date().getFullYear() %> <%= config.author || config.title %>
    <% if (config.mail) { %>
      &lt;<a href="mailto:<%- config.mail %>"><%- config.mail %></a>&gt;
    <% } %>
  </div>
  <% if (config.icp) { %>
    <div class="footer-center">
      <a href="<%- config.icp.url %>" target="_blank"> <%- config.icp.id %> </a>
    </div>
  <% } %>
  <% if (config.supportlink) { %>
    <div class="footer-sponor">
      <% if(config.supportlink.pre) { %>
        <span> <%- config.supportlink.pre %> </span>
      <% } %>
      <a href="<%- config.supportlink.url %>">
        <img alt="Upyun logo" src="<%- url_for(config.supportlink.img) %>"/>
      </a>
    </div>
  <% } %>
</footer>
